
.order-status-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-color: #161C2D; 
    background-image: url('../assets/transferTokensBackground.png');
  }
  
  .form-wrapper {
    background-color: white;
    padding: 20px;
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    display: flex; 
    width: 500px;
  }
  